.container {
  text-align: center;
  padding: 20px;
}

.icons {
  font-size: 24px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

#like {
  color: red;
  cursor: pointer;
  transition: color 0.3s;
}

#like:hover {
  color: darkred;
}

#dislike {
  color: gray;
  cursor: pointer;
  transition: color 0.3s;
}

#dislike:hover {
  color: darkgray;
}
